<?xml version="1.0" encoding="UTF-8"?>

<plugin id="us.platan.gigya" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaGigya</name>
    <description>Gigya Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Login,Gigya</keywords>
    <repo>https://github.com/platanus/cordova-gigya.git</repo>
    <issue>https://github.com/platanus/cordova-gigya/issues</issue>

  <js-module name="CordovaGigya" src="www/CordovaGigya.js">
    <clobbers target="cordova.plugins.CordovaGigya" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaGigya">
        <param name="android-package" value="us.platan.gigya.CordovaGigya" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/*">
      <string name="facebook_app_id">$FB_APP_ID</string>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET">
      </uses-permission>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
      </uses-permission>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*/application">
      <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
      <activity
        android:name="com.gigya.socialize.android.ui.HostActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
      <activity
        android:name="com.gigya.socialize.android.login.providers.WebLoginActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:launchMode="singleTask"
        android:allowTaskReparenting="true" >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="$PACKAGE_NAME" android:host="gsapi" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.LoginActivity"/>
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </config-file>

    <source-file src="src/android/CordovaGigya.java" target-dir="src/us/platan/gigya" />
    <source-file src="src/android/gigya-sdk-3.1.2.jar" target-dir="libs" />

  </platform>

  <!-- ios -->
  <platform name="ios">

    <preference name="FB_APP_ID" />
    <preference name="FB_APP_NAME" />

    <config-file parent="/*" target="config.xml">
      <feature name="CordovaGigya">
        <param name="ios-package" value="CordovaGigya" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>$PACKAGE_NAME</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$PACKAGE_NAME</string>
          </array>
        </dict>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb$FB_APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="FacebookAppID">
      <string>$FB_APP_ID</string>
    </config-file>

    <config-file target="*-Info.plist" parent="FacebookDisplayName">
      <string>$FB_APP_NAME</string>
    </config-file>

    <source-file src="src/ios/CordovaGigya.m" />
    <framework src="src/ios/GigyaSDK.framework" custom="true"/>
    <framework src="../../FacebookSDK.framework" custom="true"/>
  </platform>

</plugin>
